*/node_modules/*
*/.next/*
*/.output/*
*/.pnp.js/*
*/.yarn/*
*/.yarnrc.yml/*
*/.yarnrc.yaml/*
*/.yarnrc.yml/*
*/targets/*
*/.next/*
*/.next/cache/*
*/.next/cache/images/*
*/.next/cache/pages/*
*/.next/cache/webpack/*
*/.next/cache/typed-router-routes/*
*/.next/cache/entries/*
*/.next/cache/entries/pages/*
*/.next/cache/entries/pages/api/*
backend/target/classes/application.yml
node_modules
node_modules
node_modules
node_modules
node_modules
node_modules
node_modules
backend/target/*
auth-service/logs/log.log
favorites-service/target/*
frontend/app/.next/*
backend/target/*
.vscode/settings.json
